<div class="masthead-followup">
  <div class="container">
    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <h2>Installation</h2>
        <p class="lead font-weight-normal">
          Install es-bs-base source Sass and JavaScript files via npm
        </p>
        <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/">Read installation docs</a>
      </div>
      <div class="col-md-7 pl-md-5">
      {{ highlight "npm install @energysage/es-bs-base" "sh" "" }}
      </div>
    </div>

    <div class="row mb-5 pb-md-4 align-items-center">
      <div class="col-md-5">
        <h2>jsDelivr</h2>
        <p class="lead font-weight-normal">
          When you only need to include es-bs-base compiled CSS or JS, you can use CDN links.
        </p>
        <a class="btn btn-lg btn-outline-primary mb-3" href="/docs/{{ .Site.Params.docs_version }}/layout/overview/">Explore the docs</a>
      </div>
      <div class="col-md-7 pl-md-5">
      {{ highlight (printf (`<!-- CSS -->
<link
  href="%s"
  rel="stylesheet"
  integrity=%q
  crossorigin="anonymous">
`) .Site.Params.cdn.css (.Site.Params.cdn.css_hash | safeHTMLAttr)) "html" "" }}
      {{ highlight (printf (`<!-- jQuery and JavaScript Bundle with Popper -->
<script
  src="%s"
  integrity=%q
  crossorigin="anonymous"></script>
<script
  src="%s"
  integrity=%q
  crossorigin="anonymous"></script>
`) .Site.Params.cdn.jquery (.Site.Params.cdn.jquery_hash | safeHTMLAttr) .Site.Params.cdn.js_bundle (.Site.Params.cdn.js_bundle_hash | safeHTMLAttr)) "html" "" }}
      </div>
    </div>
  </div>
</div>
